body {
	font-family: 'Open Sans', sans-serif;
	color: #6c7279;
	padding: 0;
	margin: 0;
	font-size: 14px;
	background-color: #e7efec;
}

div, p, form, input, a, span, button {
	box-sizing: border-box;
}

p {
	margin: 0;
    font-size: 14px;
    line-height: 1.4em;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
